
.memoryGame {
    width: 460px;
    height: 330px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: none;
}

div {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid dimgrey;
}

div.flip {
    transform: rotateY(180deg);
}


